django>=2.2.3,<2.3

# Automatically renders Django forms in a pretty, Bootstrap-compatible way.
django-crispy-forms>=1.7.2

# Django timezone support
pytz

# A date picker widget
git+https://github.com/inducer/django-bootstrap3-datetimepicker.git
