django>=2.0,<2.1

# Automatically renders Django forms in a pretty, Bootstrap-compatible way.
django-crispy-forms>=1.5.0

# Django timezone support
pytz

# A date picker widget
git+https://github.com/inducer/django-bootstrap3-datetimepicker.git
